server
.cursor*
.eslintrc.js
obsidian.d.ts
**/__pycache__/**
node_modules
.env
*-error.log
package-lock.json
yarn.lock
.npmrc
.contentcopy
data.json
data copy.json
.hotreload
.copyover
styles.css
dist
main.js
.gitignore
LICENSE
tsconfig.json
types.d.ts
versions.json
assets
manifest.json
fabric_templates
main.py
fabric
.venv
server/templates
ending.md
.gitignore
backups
.aider*
.DS_Store