/* Links Container */
.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--background-secondary);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.settings-link {
  color: var(--text-normal);
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  transition: color 0.3s ease;
  padding: 5px 10px;
  border-radius: 4px;
}

.settings-link:hover {
  color: var(--text-accent);
  background-color: var(--background-modifier-hover);
}

.settings-link:first-child {
  margin-left: 0;
}

.settings-link:last-child {
  margin-right: 0;
}
/* Recording Notice */
.recording-notice {
  background-color: var(--background-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  border: 2px solid var(--primary-color);
  transform: scale(1);
  transform-origin: bottom right;
  margin-bottom: 15px;
  margin-right: 5px;
}

.recording-notice-position {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.recording-notice-header {
  margin-bottom: 10px;
}

.recording-notice-canvas {
  width: 100%;
}
.recording-notice-header button {
  position: absolute;
  right: 10px;
  top: 5px;
  border: none;
  background: none;
  color: inherit;
  font-size: 1.5em;
  cursor: pointer;
}
.model-list-setting {
  margin-top: 0;
}

.model-list {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.model-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.model-item:hover {
  background-color: var(--background-secondary-alt);
}

.model-item.disabled {
  color: var(--text-muted);
}

.model-name {
  flex: 1;
  margin-right: 10px;
  font-size: 12px;
}

.model-item .checkbox-container {
  margin-left: auto;
}
.version-info-container {
  display: flex;
  margin-bottom: 10px;
}

.version-info-text {
  display: inline-block;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.version-info-text.up-to-date {
  background-color: #5cb85c; /* Bootstrap's success color */
}

.version-info-text.outdated {
  background-color: #d9534f; /* Bootstrap's danger color */
}
/* Section Link */
.section-link {
  display: inline-block;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-link:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.section-link {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
/* Animation Container */
.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/* Settings */
.tab-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  background-color: var(--background-secondary);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tab {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: var(--text-muted);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.tab:hover {
  color: var(--text-normal);
}

.tab::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--interactive-accent);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.tab.active {
  color: var(--text-normal);
}

.tab.active::after {
  transform: scaleX(1);
}

.settings-container {
  background-color: var(--background-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Custom Notice */
.custom-notice {
  border: 1px solid var(--interactive-accent); /* Assuming var(--interactive-accent) is a shade of purple */
  background-color: var(--background-secondary);
  color: var(--text-normal);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
  top: auto;
  left: auto;
}

.custom-notice:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.custom-notice-content {
  display: flex;
  align-items: center;
}

.custom-notice-message {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
}
.template-name {
  margin-top: 5px;
  font-size: 16px;
  margin-bottom: 5px;
}

.template-description {
  margin-top: 0px;
  font-size: 12px;
  margin-bottom: 8px;
}

.template-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 10px;
  color: var(--text-muted);
  margin-bottom: 3px; /* Added margin-bottom for space between model + max tokens combo and tags list */
}

.template-meta-item {
  margin-right: 2px;
  padding: 2px 6px;
  background-color: var(--background-secondary-alt);
  border-radius: 4px;
  margin-bottom: 3px;
  color: var(--color-green); /* Changed color to green */
}

.template-tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* This ensures it takes the full width and moves to a new line */
  margin-top: 0; /* Removes any top margin to keep tags close to the line above */
  margin-bottom: 0;
}

.template-tag {
  margin-right: 2px;
  margin-bottom: 2px; /* Ensures tags are close to each other vertically */
  padding: 2px 6px;
  background-color: var(--background-secondary-alt);
  border-radius: 4px;
  white-space: nowrap;
}
/* Hall of Fame */
.about-hall-of-fame {
  text-align: center;
}

.supporter-list {
  list-style-type: none;
  padding: 0;
}

.supporter-item {
  display: flex;
  justify-content: space-between;
}

.supporter-contribution {
  color: var(--text-muted);
}

.supporter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.supporter-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.supporter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--background-secondary);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 30%;
  max-width: 30%;
}

.supporter-contribution {
  margin-top: 10px;
  font-size: 14px;
  color: var(--text-muted);
}

@media (max-width: 768px) {
  .supporter-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
/* Blank Template Modal */

.blank-template-modal {
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: var(--background-primary);
  padding: 20px;
}

.blank-template-modal .modal-content {
  display: flex;
  flex-direction: column;
}

.blank-template-modal .modal-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-title-h2);
}

.blank-template-modal .info-box {
  background-color: var(--background-secondary-alt);
  border: 1px solid var(--background-modifier-border);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.blank-template-modal .info-box p {
  margin: 0;
  color: var(--text-muted);
}

.blank-template-modal .prompt-container {
  margin-bottom: 20px;
}

.blank-template-modal .prompt-container label {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--text-normal);
}

.blank-template-modal .user-prompt-input {
  width: 100%;
  min-height: 50px; /* Ensure this is larger than context areas */
  border-radius: 5px;
  border: 1px solid var(--background-modifier-border);
  background-color: var(--background-secondary);
  color: var(--text-normal);
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  margin-top: 2.5px;
}

.blank-template-modal .button-container {
  display: flex;
  justify-content: flex-end;
}

.blank-template-modal .button-container button {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.blank-template-modal .button-container button:hover {
  background-color: var(--interactive-accent-hover);
}

.context-area {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--background-modifier-border);
  background-color: var(--background-secondary);
  color: var(--text-normal);
  padding: 5px;
  font-size: 14px;
  line-height: 1.4;
  resize: none;
  overflow-y: auto; /* Allows scrolling if content is longer */
  display: none; /* Hidden by default */
  min-height: 100px;
}

.pre-context-area {
  margin-bottom: 10px; /* Space below the pre-context area */
  font-size: 10px; /* Smaller text size */
  max-height: 3em; /* Limit to 3 rows of text */
}

.post-context-area {
  margin-top: 10px; /* Space above the post-context area */
  font-size: 10px; /* Smaller text size */
  max-height: 3em; /* Limit to 3 rows of text */
}
/* Info Box */
.upcoming-features li,
.info-box {
  background-color: var(--background-secondary);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-box p {
  margin: 0;
}

.upcoming-features {
  margin-top: 35px;
}
/* Spinner */
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--text-normal);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }
}
/* About Section */
.about-header {
  position: relative;
  padding: 40px;
  text-align: center;
  overflow: hidden;
}

.about-header h2 {
  bottom: 20px;
  font-size: 36px;
  color: var(--text-normal);
  position: relative;
  z-index: 1;
  animation: fadeInUp 1s ease;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  transform: skewY(-5deg);
  transform-origin: top left;
  z-index: 0;
  opacity: 0.8;
}

.about-description {
  margin-bottom: 40px;
}

.support-link,
.contact-link,
.social-link {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  text-decoration: none;
  border-radius: 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.support-link:hover,
.contact-link:hover,
.social-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: var(--text-on-accent);
  color: var(--interactive-accent);
  border-radius: 50%;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.support-link:hover .icon,
.social-link:hover .icon {
  transform: rotate(360deg);
}

.social-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

.about-support,
.about-contact {
  display: block;
  text-align: center;
  margin-bottom: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.about-support,
.about-social,
.about-contact {
  text-align: center;
}

.support-link,
.social-link,
.contact-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  margin: 0 10px;
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.support-link:hover,
.social-link:hover,
.contact-link:hover {
  background-color: var(--interactive-accent-hover);
  transform: translateY(-2px);
}

.supporters-description {
  font-style: italic;
  color: var(--text-muted);
  margin-top: 0;
  margin-bottom: 10px;
}

/* Global styles */
.ss-h3 {
  font-size: 24px;
  color: var(--text-accent);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
}
/* Modal */
.modal-content-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-header {
  text-align: center;
}
/* Disabled Button */
button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
/* Model Toggle Button */
.update-button,
.max-tokens-toggle-button,
.model-toggle-button,
.task-toggle-button,
.recorder-toggle-button {
  cursor: pointer;
  padding: 2px 10px;
  margin: 0 1px;
  border: 1px solid var(--interactive-accent);
  border-radius: 3px;
  background-color: var(--background-secondary-alt);
  color: var(--text-normal);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.update-button {
  order: -99;
}

.model-toggle-button {
  order: -4;
}

.max-tokens-toggle-button {
  order: -3;
}

.task-toggle-button {
  order: -2;
}

.recorder-toggle-button {
  order: -1;
}

.max-tokens-toggle-button:hover,
.model-toggle-button:hover,
.task-toggle-button:hover,
.recorder-toggle-button:hover {
  background-color: var(--background-secondary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
  border: 1px solid purple;
}

.update-button {
  border: 1px solid red;
  background-color: var(--background-secondary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

.update-button:hover {
  border: 1px solid green;
  background-color: var(--background-secondary-alt);
}

.update-button:active,
.max-tokens-toggle-button:active,
.model-toggle-button:active,
.task-toggle-button:active,
.recorder-toggle-button:active {
  background-color: var(--background-primary);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
}

.update-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.api-key-status,
.endpoint-status {
  display: inline-block;
  margin-left: 10px;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.validating {
  background-color: #f0ad4e; /* Bootstrap's warning color */
}

.valid {
  background-color: #5cb85c; /* Bootstrap's success color */
}

.invalid {
  background-color: #d9534f; /* Bootstrap's danger color */
}
/* Task Modal */
.task-modal-button {
  margin-top: 20px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.task-description-textarea textarea {
  height: 200px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  resize: none;
}
/* Variables */
:root {
  --primary-color: #1890ff;
  --secondary-color: #91d5ff;
  --tertiary-color: #e6f7ff;
}
