/**
 * Tooltip Components
 * 
 * Styles for tooltips, popovers, and help text
 */

.systemsculpt-model-description.systemsculpt-has-tooltip {
  cursor: help;
}

.systemsculpt-has-tooltip {
  cursor: help;
}

.systemsculpt-has-tooltip {
  cursor: help;
}

