.systemsculpt-about-description {
  margin-bottom: 20px;
}

.systemsculpt-about-doc-container,
.systemsculpt-about-personal-container {
  margin-bottom: 30px;
}

.systemsculpt-about-section-header {
  font-size: 18px;
  color: var(--text-normal);
  margin-bottom: 10px;
}

.systemsculpt-about-button-container,
.systemsculpt-supporter-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.systemsculpt-about-button,
.systemsculpt-supporter-item {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  transition: background-color 0.3s ease;
}

.systemsculpt-about-button:hover {
  background-color: var(--interactive-accent-hover);
}


.systemsculpt-supporter-item {
  background-color: var(--background-secondary-alt);
  color: var(--text-muted);
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hall of Fame styles */
.systemsculpt-about-hall-of-fame {
  text-align: center;
}

.systemsculpt-supporters-description {
  font-style: italic;
  color: var(--text-muted);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.systemsculpt-ss-h3 {
  font-size: 20px;
  color: var(--text-accent);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .systemsculpt-about-button-container,
  .systemsculpt-supporter-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .systemsculpt-supporter-list {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .systemsculpt-supporter-list {
    grid-template-columns: 1fr;
  }
}
