.alpha-ribbon {
  background-color: var(--background-secondary-alt);
  color: var(--text-muted);
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--background-modifier-border);
}

.alpha-ribbon a {
  color: var(--text-accent);
  text-decoration: underline;
  font-weight: bold;
}

.alpha-ribbon a:hover {
  text-decoration: none;
  color: var(--text-accent-hover);
}
