.systemsculpt-builder-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-secondary);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: auto;
  max-width: 200px;
}

.systemsculpt-builder-ai-button,
.systemsculpt-plus-button,
.systemsculpt-builder-info-button {
  background-color: var(--interactive-normal);
  color: var(--text-normal);
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  padding: 6px 12px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: var(--font-ui-small);
  font-weight: var(--font-medium);
  width: auto;
  text-align: left;
  white-space: nowrap;
}

.systemsculpt-builder-ai-button:hover,
.systemsculpt-plus-button:hover {
  background-color: var(--interactive-hover);
}

.systemsculpt-builder-ai-button:active,
.systemsculpt-plus-button:active {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
}

.systemsculpt-options-menu {
  position: absolute;
  bottom: -40px;
  right: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.systemsculpt-action-button {
  margin: 2px 0;
  width: 100%;
  text-align: left;
}

.systemsculpt-node-input {
  border: 2px solid #4CAF50 !important;
  border-radius: 7px;
  transition: box-shadow 0.3s ease;
}

.systemsculpt-node-processing {
  border: 2px solid #FFC107 !important;
  border-radius: 7px;
  transition: box-shadow 0.3s ease;
}

.systemsculpt-node-output {
  border: 2px solid #FF5722 !important;
  border-radius: 7px;
  transition: box-shadow 0.3s ease;
}

.systemsculpt-node-input.is-focused {
  box-shadow: 0 0 10px #4CAF50, 0 0 20px #4CAF50;
}

.systemsculpt-node-processing.is-focused {
  box-shadow: 0 0 10px #FFC107, 0 0 20px #FFC107;
}

.systemsculpt-node-output.is-focused {
  box-shadow: 0 0 10px #FF5722, 0 0 20px #FF5722;
}

.systemsculpt-builder-info-button {
  margin-left: 0;
}

.systemsculpt-node-info {
  margin-bottom: 20px;
}

.systemsculpt-node-info h3 {
  margin-bottom: 10px;
  color: var(--text-normal);
}

.systemsculpt-node-info h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--text-muted);
}

.systemsculpt-node-info p {
  margin-bottom: 10px;
}

.systemsculpt-node-info ul {
  margin-left: 20px;
}
