.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background-primary);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative; /* Add this to position the exit button */
}

.chat-header {
  background-color: var(--background-primary-alt);
  color: var(--text-normal);
  padding: 15px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid var(--background-modifier-border);
  position: relative; /* Add this to position the buttons */
}

.exit-button,
.history-button,
.new-chat-button,
.history-file-button {
  position: absolute;
  top: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--text-muted);
  transition: color 0.3s;
}

.exit-button {
  transition: background-color 0.3s, color 0.3s;
  right: 10px;
}

.exit-button.confirm-exit {
  background-color: red;
  color: white;
}

.exit-button:hover,
.history-button:hover,
.new-chat-button:hover,
.history-file-button:hover {
  color: var(--interactive-accent);
}

.history-button {
  left: 10px;
}

.new-chat-button {
  right: 50px; /* Adjust position to ensure proper spacing */
}

.history-file-button {
  left: 60px; /* Adjust position to ensure proper spacing */
}

.chat-title {
  background-color: var(--background-primary-alt);
  color: var(--text-muted);
  padding: 10px;
  text-align: center;
  font-style: italic;
  border-bottom: 1px solid var(--background-modifier-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-title-container {
  display: flex;
  align-items: center;
}

.chat-title-text {
  margin-right: 10px;
}

.edit-icon {
  cursor: pointer;
  font-size: 14px;
  color: var(--text-muted);
  transition: color 0.3s;
  margin-left: 5px; /* Add margin to avoid overlap with the input field */
}

.edit-icon:hover {
  color: var(--interactive-accent);
}

.edit-title-input {
  width: calc(100% - 20px); /* Adjust width to fit within the container */
  padding: 5px;
  font-size: 14px;
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  background-color: var(--background-primary);
  color: var(--text-normal);
  margin-right: 10px; /* Add margin to avoid overlap with the icon */
}

.token-count {
  font-size: 12px;
  color: var(--text-faint);
  background-color: var(--background-secondary);
  padding: 5px 10px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  background-color: var(--background-primary);
  color: var(--text-normal);
  padding: 20px;
}

.chat-input-container {
  display: flex;
  padding: 15px;
  background-color: var(--background-primary-alt);
  align-items: center;
  border-top: 1px solid var(--background-modifier-border);
}

.chat-input {
  width: 100%;
  height: auto;
  min-height: 30px;
  resize: vertical;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  background-color: var(--background-primary);
  color: var(--text-normal);
  font-size: 14px;
  line-height: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}

.chat-input:focus {
  outline: none;
  border-color: var(--interactive-accent);
  box-shadow: 0 0 0 2px var(--interactive-accent);
}

.chat-send-button {
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background-color: blue;
}

.chat-send-button:hover {
  background-color: var(--interactive-accent-hover);
}

.chat-message.user {
  background-color: var(--background-primary);
  color: var(--text-normal);
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  align-self: flex-end;
  text-align: right;
  box-shadow: 2px 2px 1px var(--interactive-accent);
  position: relative;
  user-select: text; /* Allow text selection */
}

.chat-message {
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  user-select: text; /* Allow text selection */
}

/* this is a codeblock within our chat message */
.chat-message pre {
  background-color: rgba(0, 0, 0, 0.5); /* Darker with transparency */
  font-size: 75%;
  padding: 10px;
  border-radius: 10px;
}

.message-actions {
  position: relative;
  opacity: 1; /* Fully visible */
  text-align: right;
}

.copy-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.delete-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 5px; /* Add margin to separate from the copy button */
}

.copy-button.copied {
  background-color: green;
  color: white;
}

.delete-button.confirm-delete {
  background-color: red;
  color: white;
}

.delete-button:hover {
  color: white;
}

.chat-message.ai {
  background-color: var(--background-secondary);
  color: var(--text-normal);
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  align-self: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  user-select: text; /* Allow text selection */
}

.context-files-container {
  padding: 15px;
  background-color: var(--background-primary-alt);
  border-top: 1px solid var(--background-modifier-border);
  border-bottom: 1px solid var(--background-modifier-border);
}

.context-files-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer; /* Make the entire header clickable */
  color: var(--text-muted);
  transition: color 0.3s;
}

.context-files-header:hover {
  color: var(--interactive-accent);
}

.context-files-header h3 {
  margin: 0;
  font-size: 1.2em;
  display: inline; /* Ensure the text and icon are on the same line */
}

.context-files-header .add-context-file {
  font-size: 1.2em;
  margin-left: 5px; /* Add some space between the text and the icon */
}

.context-files-header .add-context-file:hover {
  color: inherit; /* Inherit the color from the parent on hover */
}

.context-files {
  border: 1px solid var(--background-modifier-border);
  background-color: var(--background-primary);
  border-radius: 4px;
  color: var(--text-normal);
  display: none; /* Hide by default */
}

.context-files.has-files {
  display: block; /* Show when there are context files */
}

.context-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border-bottom: 1px solid var(--background-modifier-border);
}

.context-file:last-child {
  border-bottom: none;
}

.context-file .remove-context-file {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: var(--text-muted);
  transition: color 0.3s;
}

.context-file .remove-context-file:hover {
  color: var(--interactive-accent);
}

/* Add this above the .context-files-container section */

.loading-container {
  display: none; /* Hide by default */
  padding: 15px;
  background-color: var(--background-primary-alt);
  border-top: 1px solid var(--background-modifier-border);
  border-bottom: 1px solid var(--background-modifier-border);
  text-align: center;
  flex-direction: column; /* Arrange spinner and text vertically */
  justify-content: center;
  align-items: center;
}

.loading-container.visible {
  display: flex; /* Show when loading */
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px; /* Add space between spinner and text */
}

.loading-text {
  font-size: 16px;
  color: var(--text-muted);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
