.systemsculpt-cost-estimator-modal {
  max-width: 500px;
  padding: 20px;
}

.systemsculpt-cost-estimator-modal .systemsculpt-modal-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.systemsculpt-cost-estimator-modal .systemsculpt-modal-icon {
  margin-right: 10px;
  color: var(--text-accent);
}

.systemsculpt-cost-estimator-modal .systemsculpt-modal-title {
  margin: 0;
}

.systemsculpt-cost-estimator-modal h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--text-accent);
}

.systemsculpt-cost-estimator-modal .systemsculpt-model-info,
.systemsculpt-cost-estimator-modal .systemsculpt-token-info,
.systemsculpt-cost-estimator-modal .systemsculpt-predicted-cost {
  background-color: var(--background-primary-alt);
  color: var(--text-normal);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  text-align: center;
}

.systemsculpt-cost-estimator-modal .systemsculpt-model-info,
.systemsculpt-cost-estimator-modal .systemsculpt-predicted-cost {
  justify-content: space-evenly;
}

.systemsculpt-cost-estimator-modal .systemsculpt-model-name,
.systemsculpt-cost-estimator-modal .systemsculpt-predicted-cost .systemsculpt-value {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-accent);
  margin: 0 0 10px 0;
}

.systemsculpt-cost-estimator-modal .systemsculpt-pricing-info {
  margin-top: 10px;
}

.systemsculpt-cost-estimator-modal .systemsculpt-pricing-detail {
  font-size: 0.9em;
  color: var(--text-muted);
  margin: 5px 0;
}

.systemsculpt-cost-estimator-modal .systemsculpt-token-info-container {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  gap: 20px;
}

.systemsculpt-cost-estimator-modal .systemsculpt-token-info {
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.systemsculpt-cost-estimator-modal .systemsculpt-token-info .systemsculpt-token-value {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 5px;
}

.systemsculpt-cost-estimator-modal .systemsculpt-predicted-cost {
  border: 2px solid var(--text-accent);
}

.systemsculpt-cost-estimator-modal .systemsculpt-model-info h3,
.systemsculpt-cost-estimator-modal .systemsculpt-predicted-cost h3 {
  margin: 0 0 10px 0;
  color: var(--text-normal);
}

.systemsculpt-cost-estimator-modal .systemsculpt-cost-notice {
  font-size: 0.9em;
  color: var(--text-muted);
  text-align: center;
  margin-top: 10px;
}
