/* Custom Notice */
.systemsculpt-custom-notice {
  border: 1px solid var(--interactive-accent);
  background-color: var(--background-secondary);
  color: var(--text-normal);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
  top: auto;
  left: auto;
}

.systemsculpt-custom-notice:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.systemsculpt-custom-notice-content {
  display: flex;
  align-items: center;
}

.systemsculpt-custom-notice-message {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
}
