/* Hall of Fame */
.about-hall-of-fame {
  text-align: center;
}

.supporter-list {
  list-style-type: none;
  padding: 0;
}

.supporter-item {
  display: flex;
  justify-content: space-between;
}

.supporter-contribution {
  color: var(--text-muted);
}

.supporter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.supporter-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.supporter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--background-secondary);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 30%;
  max-width: 30%;
}

.supporter-contribution {
  margin-top: 10px;
  font-size: 14px;
  color: var(--text-muted);
}

@media (max-width: 768px) {
  .supporter-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
