/* Info Box */
.systemsculpt-upcoming-features li,
.systemsculpt-info-box {
  background-color: var(--background-secondary);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.systemsculpt-info-box p {
  margin: 0;
}

.systemsculpt-upcoming-features {
  margin-top: 35px;
}

.systemsculpt-info-box-token-count {
  font-size: 12px;
  background-color: var(--background-primary);
  padding: 5px 10px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
  text-align: right;
  margin-bottom: 5px;
  color: var(--text-muted);
}
