/* Links Container */
.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--background-secondary);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.settings-link {
  color: var(--text-normal);
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  transition: color 0.3s ease;
  padding: 5px 10px;
  border-radius: 4px;
}

.settings-link:hover {
  color: var(--text-accent);
  background-color: var(--background-modifier-hover);
}

.settings-link:first-child {
  margin-left: 0;
}

.settings-link:last-child {
  margin-right: 0;
}
