/* Modal */
.systemsculpt-modal-content-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.systemsculpt-modal-header {
  text-align: center;
}
