/* Section Link */
.systemsculpt-section-link {
  display: inline-block;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.systemsculpt-section-link:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.systemsculpt-section-link {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
