/* Settings */
.systemsculpt-tab-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--background-secondary);
  border-radius: 0px 0px 0 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.systemsculpt-tab {
  flex: 0 1 calc(16.666% - 20px); /* 6 tabs per row, accounting for padding */
  min-width: 100px; /* Minimum width for each tab */
  max-width: 200px; /* Maximum width for each tab */
  margin: 5px;
  margin-bottom: 0px;
  padding: 10px 0px;
  border: none;
  background-color: transparent;
  color: var(--text-muted);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease, font-weight 0.3s ease;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.systemsculpt-tab:hover {
  color: var(--text-normal);
}

.systemsculpt-tab::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Match this with the value in .systemsculpt-tab.systemsculpt-active::after */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--interactive-accent);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.systemsculpt-tab.systemsculpt-active {
  color: var(--text-normal);
  font-weight: bold;
}

.systemsculpt-tab.systemsculpt-active::after {
  transform: scaleX(1);
  bottom: 2px; /* Adjust this value to position the underline correctly */
}

.systemsculpt-settings-container {
  background-color: var(--background-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 100%;
}

.systemsculpt-search-container {
  padding: 10px 0px;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--background-modifier-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.systemsculpt-settings-search-input {
  width: 80%;
  max-width: 600px;
  padding: 8px 12px;
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  background-color: var(--background-primary);
  color: var(--text-normal);
  font-size: 14px;
  text-align: center;
}

.systemsculpt-settings-search-input::placeholder {
  text-align: center;
}

.systemsculpt-settings-search-input:focus {
  outline: none;
  border-color: var(--interactive-accent);
  box-shadow: 0 0 0 2px var(--interactive-accent-hover);
}

.systemsculpt-fuzzy-match {
  font-weight: bold;
  text-decoration: underline;
}
