/* Task Modal */
.task-modal-button {
  margin-top: 20px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.task-description-textarea textarea {
  height: 200px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  resize: none;
}
