.systemsculpt-version-info-container {
  display: flex;
  margin-bottom: 10px;
}

.systemsculpt-version-info-text {
  display: inline-block;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.systemsculpt-version-info-text.systemsculpt-up-to-date {
  background-color: #5cb85c; /* Bootstrap's success color */
}

.systemsculpt-version-info-text.systemsculpt-outdated {
  background-color: #d9534f; /* Bootstrap's danger color */
}
